* {
    margin: auto;
    box-sizing: border-box;
    /* background-image: url(./img/background.jpg); */
    background-repeat: no-repeat;
}
form {
    margin-top: 5%;
}
.number {
    margin: 0;
    display: flex;
    justify-content: center;
}
span, i {
    margin: 0;
}
.searchby {
    display: flex;
    justify-content: flex-start;
}
.searchby button {
    margin-left: 5%;
}

